<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starvey.mapper.AnswerMapper">

    <resultMap id="BaseResultMap" type="com.starvey.entity.Answer">
            <id property="answerId" column="answer_id" jdbcType="INTEGER"/>
            <result property="fillTime" column="fill_time" jdbcType="TIMESTAMP"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="questionId" column="question_id" jdbcType="INTEGER"/>
            <result property="questionTitle" column="question_title" jdbcType="VARCHAR"/>
            <result property="questionType" column="question_type" jdbcType="VARCHAR"/>
            <result property="writeValue" column="write_value" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        answer_id,fill_time,ip,
        question_id,question_title,question_type,
        write_value
    </sql>
</mapper>
