<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starvey.mapper.TenantMapper">

    <resultMap id="BaseResultMap" type="com.starvey.entity.Tenant">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="cost" column="cost" jdbcType="DOUBLE"/>
            <result property="groupCount" column="group_count" jdbcType="INTEGER"/>
            <result property="questionnaireCount" column="questionnaire_count" jdbcType="INTEGER"/>
            <result property="answerSheetCount" column="answer_sheet_count" jdbcType="INTEGER"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,cost,group_count,
        questionnaire_count,answer_sheet_count,is_deleted
    </sql>
</mapper>
